{% extends 'mail_messages/includes/base.html' %}
{% load i18n %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">{% trans "Детали рассылки" %}</h2>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ mailing.subject }}</h5>
            <p class="card-text">{{ mailing.message.body }}</p>
            <p><strong>{% trans "Дата начала" %}:</strong> {{ mailing.start_datetime|date:"d.m.Y H:i" }}</p>
            <p><strong>{% trans "Периодичность" %}:</strong> {% trans mailing.get_periodicity_display %}</p>
            <p><strong>{% trans "Статус" %}:</strong> {% trans mailing.get_status_display %}</p>

            {% if mailing.owner == user %}
            <a href="{% url 'mail_messages:mailing_update' mailing.id %}" class="btn btn-warning">{% trans "Редактировать" %}</a>
            <a href="{% url 'mail_messages:mailing_delete' mailing.id %}" class="btn btn-danger">{% trans "Удалить" %}</a>
            <a href="{% url 'mail_messages:mailing_list' %}" class="btn btn-secondary">{% trans "Назад к списку" %}</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
