{% extends 'mail_messages/includes/base.html' %}

{% block content %}
    <div class="container">
        <h2>{% if message %}Edit Message{% else %}Create Message{% endif %}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">{% if message %}Update{% else %}Create{% endif %}</button>
            <a href="{% url 'mail_messages:message_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}
