{% extends 'mail_messages/includes/base.html' %}

{% block content %}
    <div class="container">
        <h2>{% if message %}Редактировать сообщение{% else %}Создать сообщение{% endif %}</h2>

        {% if not message or message.owner == request.user %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">{% if message %}Редактировать{% else %}Создать{% endif %}</button>
            <a href="{% url 'mail_messages:message_list' %}" class="btn btn-secondary">Отмена</a>
        </form>
        {% else %}
            <p>У вас нет прав для редактирования этого сообщения.</p>
        {% endif %}
    </div>
{% endblock %}
