{% extends 'mail_messages/includes/base.html' %}

{% block content %}
    <div class="container">
        <h2>Сообщение</h2>
        <div class="card">
            <div class="card-header">
                <h2>{{ message.subject }}</h2>
            </div>
            <div class="card-body">
                <p>{{ message.body }}</p>
            </div>
            <div class="card-footer">
                {% if message.owner == user %}
                <a href="{% url 'mail_messages:message_update' message.id %}" class="btn btn-warning">Редактировать</a>
                <a href="{% url 'mail_messages:message_list' %}" class="btn btn-secondary">Вернуться к списку</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
