{% extends 'mail_messages/includes/base.html' %}

{% block title %}
    Регистрация
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Регистрация</h1>

        {% if messages %}
            <div class="alert alert-info" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Зарегистрироваться</button>
            <a class="btn btn-outline-secondary" href="{% url 'mail_messages:main' %}">Вернуться на главную</a>
        </form>
    </div>
{% endblock %}